{{ $nomor := 0 }}
{{ range .asatidz }}
    <tr>
        {{ $nomor = increment $nomor 1 }}
        <td>{{ $nomor }}</td>
        <td>{{ .Nama }}</td>
        <td>{{ .TempatLahir }}, {{ .TanggalLahir }}</td>
        <td>{{ .PendidikanTerakhir }}</td>
        <td>{{ .Alumni }}</td>
        <td>{{ .Alamat }}</td>
        <td>
            <button class="btn btn-warning btn-sm">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
        </td>
    </tr>
{{ end }}