<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GO CRUD MODAL</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalAsatidz"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      
    </div>

    <div class="container mt-5">
      <h1>Para Asatidzah</h1>
      <button type="button" class="btn btn-primary add-asatidz">
        Tambah Data
      </button>
      <table class="table mt-3">
        <thead>
          <th>#</th>
          <th>Nama</th>
          <th>TTL</th>
          <th>Pendidikan Terakhir</th>
          <th>Alumni</th>
          <th>Alamat</th>
          <th>Aksi</th>
        </thead>
        {{ .data }}
      </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        var site_url = "http://localhost:2023"
        $(document).ready(function(){
            $('.add-asatidz').click(function(){
                $.get(site_url + "asatidz/get_form",function(html){
                    $('#modalAsatidz').html(html).modal('show')
                })
            })
        })
    </script>
  </body>
</html>
